.square{
    width: 100px;
    height: 100px;
    background-color: #649ea7 ;
    border-radius: 5px;
}

.square:hover{
    cursor: pointer;
}

.not-allowed{
    cursor: not-allowed !important;
}

.circle-won{
    background-color:#dd7f9f ;
}

.cross-won{
    background-color: rgb(156, 231, 17);
}