.main-div{
  display:flex;
  justify-content:center;
  align-items: center;
  margin-top: 15vh;
  flex-direction: column;
}

.playOnline{
  font-weight: 700;
  border: none;
  background-color: #a6e456;
  font-size: 60px;
  cursor: pointer;
  margin-top: 40vh;
  padding: 12px 10px;
  border-radius: 15px;
  outline: none;
}

.water-background{
  background-color: #649ea7;
}

.game-heading{
  padding: 5px 20px;
  border-radius: 5px;
  text-align: center;
  font-size:35px;

}

.square-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}
.move-detection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  
}

.finished-state{
  font-size:30px;
  text-align: center;
  margin: 0;
}

.left, .right{
  height: 30px;
  width: 120px;
  padding-top: 7px;
  background-color: #649ea7;
  text-align:center;
  font-size: 17px;
  padding-bottom: 5px;
  font-weight: 600;
  border-bottom-right-radius: 50px ;
  border-top-left-radius: 50px;
}


.waiting{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 30px;
}


.current-move-cross{
  background-color: #a6e456 !important;
}

.current-move-circle{
  background-color: #dd7f9f !important;
}